.card__save {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-top: 21px;
  cursor: pointer;
}

@media (max-width: 540px) {
  .card__save {
    width: 238px;
    height: 46px;
    margin-top: 21px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

.card__save:hover {
  opacity: 0.8;
}
